html,body{ width:100%; height:100%; font-size: 1em; }
*:not(button):not(input){ margin:0; padding:0; border:none; }
*{
    -webkit-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    box-sizing: border-box;
    text-decoration:none;
    list-style: none;
}

/* ============================================================== */


.conteudo{
    margin: 0 auto;
    max-width: 60em;
    padding: 1.6em;
    line-height: 1.4em;
}
    
    .menu{
        width:70%;
        padding: 60px 0;
        background: darkred;
        color:#fff;
        height:100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        transform: translate3d(-100%,0,0);
        transition: transform 0.3s ease;
    }
    .menuButtonBox{ 
        display:block; padding: 20px; z-index: 1010; position: relative;
        color: #fff;background: darkred;
    }
    .menu ul{ display:block; position: absolute; height: 100%; width: 100%;}
    .menu ul:after{ content:""; display:block; clear: both; }
    .menu.show{ display:block; transform: translate3d(0,0,0); }
    .menu li{ display:block; text-align: left;  padding: 0.5em 2em;}
    .conteudo img{ margin: 1em auto; display:block; width: 100%;}
    .floatRight{ float:none; }
    .floatLeft{ float:none; }

@media all and (min-width:512px){
    .menuButtonBox{ display:none; }
    .menu{ 
        width:100%; height:auto; position:relative; transform: translate3d(0,0,0); 
        transition:none; padding:20px 0; 
    }
    .menu ul{ height:auto; position: relative;  }
    .menu li{ float:left; width:20%; text-align: center;  padding: 0;}
    .conteudo img{ margin: 1em 2em; width:auto; }
    .floatRight{ float:right; }
    .floatLeft{ float:left; }
    .conteudo img.floatLeft{ margin-left:0; margin-top:0; }
    .conteudo img.floatRight{ margin-right:0; margin-top:0; }
}



