
.no-js, .js{
    display:none;
    transform-style: preserve-3d;
}
html.no-js .no-js, html.js .js{
    display: block;
}

#logDiv{
    padding: 0.5em 1em;
    border: 1px solid #999;
    border-radius: 3px;
    margin: 10px 10px 0;
}

.blurDiv{
    -webkit-filter: blur(1px) grayscale(1); 
    filter: blur(1px) grayscale(1);
    margin: 20px;
    border: 1px solid blue;
    border-radius: 4px;
}