
*{
  
}
html,body{
  height: 100%;
  width: 100%;
  font-family: 'Verdana';
}

input{
  width: 80px;
}

.bloco{
  width: 40px;
  height: 40px;
  border: 2px solid darkred;
  position: relative;
  box-shadow: 0 0 22px rgba(124,0,0, 1) inset;
}
.bloco2{
  transform: translate3d(120px,30px,1px) scale3d(1.6,1.2,1) skewY(25deg) rotateZ(30deg);
}

.testes2{
  margin: 30px 0 0 0;
}
