* {
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  padding: 18px;
}

div {
  padding: 10px;
  border-radius: 4px;
  min-height: 20px;
  min-width: 120px;
  margin-bottom: 10px;
}
.div1 {
  border: 1px solid #ccc;
}
.div1 .elemento1 {
  border: 1px solid red;
}
.div1 .elemento2 {
  border: 1px solid blue;
}
